* {
    font-family: 'Press Start 2P', cursive;
}

body {
    background: rgb(27,206,208);
background: linear-gradient(0deg, rgba(27,206,208,1) 15%, rgba(230,120,163,1) 30%, rgba(222,189,35,1) 80%, rgba(246,121,55,1) 100%);
}

h1 {
    text-align: center;
    margin-top: 5vh;
}

.board {
    display: grid;
    width: 75%;
    height: 75%;
    grid-template-areas:
    "winnings winLose purse"
    "spin1 spin2 spin3"
    "wager1 wager2 wager3"
    ". play .";
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 1fr 1fr;
    background-color: rgb(255, 213, 213);
    border-radius: 5%;
    margin: auto;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px 5px;
    place-self: center;
}

.spinMain {
    grid-area: spin1;
    display: flexbox;
    flex-direction: column;
    max-width: 250px; 
    max-height: 210px;
     /* overflow: hidden; */
}
.spinMain2 {
    grid-area: spin2;
    display: flexbox;
    flex-direction: column;
    max-width: 250px; 
    max-height: 210px;
     /* overflow: hidden; */
}
.spinMain3 {
    grid-area: spin3;
    display: flexbox;
    flex-direction: column;
    max-width: 250px; 
    max-height: 210px;
     /* overflow: hidden; */
}

.cells {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: whitesmoke;
    border-color: black;
    border: 2px;
    border-style: solid;
    border-radius: 20%;
}
#winnings {
    grid-area: winnings;
    margin: 50px;
    padding: 10px;
    height: 40%;
}
#purse {
    grid-area: purse;
    margin: 50px;
    padding: 10px;
    height: 40%;
}
#play {
    grid-area: play;
    padding: 10px;
    margin: 0px 15px 15px ;
    
}
#currentWager {
    grid-area: play;
    padding: 10px;
    margin: -100px 15px 15px ;    
}

#reset {
    grid-area: winLose;
    margin-top: 100px;
    visibility: hidden;
}

#reset:hover {
    background-color: lightgrey;
}

#winLose {
    visibility: hidden;
    grid-area: winLose;
    place-self: center;
    color: red;
}
@keyframes scrollSlot {
    /* 0% {transform: translateY(-105%)};
    50% {transform: translateY(25%)};    
    100% {transform: translateY(0%)};     */
    0% {transform: rotate(2turn) translateY(-105%)};
    100% {transform: rotate(3turn) translateY(25%)};    
    /* 100% {transform: rotate(6turn)};     */
}
.p.spinners{
animation-name: scrollSlot; 
animation-duration: 3s;
animation-iteration-count: 30;
animation-fill-mode: unset;
}

.spinners {
    padding: 20px;
    display: flexbox;
    align-items: center;
    justify-items: center;
    /* grid-template-columns: 1;
    grid-template-rows: 3; */
    border-color: black;
    border: 2px;
    border-style: solid;
    border-radius: 20%;
    margin: 10px 50px;
    background-color: lightblue;
    max-width: 150px;
    max-height: 150px;
}

#spin1 {
    /* grid-area: spin1; */
    max-width: 150px;
    max-height: 150px;
}
#spintest {
    /* grid-area: spin1; */
    max-width: 150px;
    max-height: 150px;
}
#spintest1 {
    /* grid-area: spin1; */
    max-width: 150px;
    max-height: 150px;
}
#spin2 {
    /* grid-area: spin2; */
    max-width: 150px;
    max-height: 150px;
} 
#spin3{
    /* grid-area: spin3; */
       max-width: 150px;
    max-height: 150px;
}

.bets {
    display:grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1;
    grid-template-rows: 3;
    border-color: black;
    border: 2px;
    border-style: solid;
    border-radius: 20%;
    margin: 10px;
    width: 100px;
    padding: 15px;
    height: 50px;
    place-self: center;
}
#wager1 {
    grid-area: wager1;
}
#wager2 {
    grid-area: wager2;
}
#wager3 {
    grid-area: wager3;
}
.bets:hover {
    background-color: lightgrey;
}
